* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


body {
  background-image: url(img/background.jpg);
  background-size: cover;
  display: flex;
  
}

img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.menu-bar {
  height: 100vh;
  width: 65px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  
}

.menu-bar ul {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  backdrop-filter: blur(30px);
  padding-top: 20px;
}
.menu-bar:hover {
  width: 200px;
}

ul li {
  width: 100%;
  list-style: none;
  margin: 8px 0;
}

ul li.profile {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.profile h2 {
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
}

ul li a {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  margin: 5px 10px;
  padding: 10px;
  border-radius: 12px;
  color: white;
  transition: 0.3s;
}

ul li a:hover {
  background-color: #5656ffc5;
}

a i {
  font-size: 24px;
}

a p {
  font-size: 1rem;
  font-weight: 500;
}

.logout {
  position: absolute;
  bottom: 15px;
  width: 90%;
  background-color: #ff000057;
  border-radius: 12px;
}
/* content style items*/
.content {
  background: #4341419c;
  width: 100%;
  color: white;
  display: flex;
  gap: 0;
  flex-wrap: wrap;
  transition: 2s;
  height: 200px;
}
.content div {
  width: 350px;
  height: 200px;
  color: white;
  background:transparent;
  backdrop-filter: blur(20px);
  transition: 2s;
  padding: 30px;
  margin: 3px;
  border-radius: 20px;
  border: 1px solid #aba5a540;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  
}